

 #sketchContainer {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.sketch {
    background-color: gray;
    border: 1px solid black;
}
.sketchActive {
    background-color: green;
    border: 1px solid black;
}
